@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "Bebas_bold";
  src: url("../fonts/9114.otf") }

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue Regular.otf") }
@font-face {
  font-family: "Graf";
/*  src: url("../fonts/12024.ttf")*/
  src: url("../fonts/Graphik-Regular-Web.ttf")
 }
 